.all-notes {
  width: 100%; height: 100%;
  display: flex; flex-direction: column;
  align-items: center;
}

.menu {
  width: 600px;
}

.note-list {
  width: 600px; height: 100%;
  display: flex; flex-direction: column;
  align-content: flex-start;
  margin-top: 20px;
}

.note-link {
  margin-top: 10px;
}