.edit-view {
    width: 800px; height: 100%;
    display: flex; flex-direction: column;

    .header {
        height: 100px;
        flex-shrink: 0;
        display: flex; flex-direction: row;
        align-items: center;
    
        h1 {
            width: 100%;
        }
    
        button {
            min-width: 100px;
            height: 50px;
        }
    }
}
